html{
    background: $gray;
    overflow-x: hidden;
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
#root{
    display: flex;
    justify-content: center;
    height: 100%;
}
.app{
    background-color: $color-secondary;
    height: 100%;
    width: 100%;
}

.over-right{
    left: 100%;
    position: absolute;
    width: 100%;
    background-color: $gray;
    height: 100%;
    z-index: 10;
}