html{
    background: $color-secondary;
    overflow-x: hidden;
}
#root{
    display: flex;
    justify-content: center;
    height: 100%;
}
.app{
    background-color: $color-secondary;
    height: 100%;
    width: 100%;
}