.footer{
    position: absolute;
    height: 3%;
    bottom: 0px;
    padding: 3px !important;
    background-color: $black;
    width: 100%;
    text-align: center;
    color: $bright;
    font-size: $font-sm;

    a{
        color: $yellow-dark;
    }
}