.gm-style-iw-t{
    bottom: 45px !important;
    .gm-style-iw{
        padding: 0 !important;
        .gm-style-iw-chr{
            display: none;
        }
        .infoWindow-content{
            cursor: pointer;
            padding: 5px;
        }
    }
}