.gm-style-iw-t{
    bottom: 50px !important;
    .gm-style-iw{
        padding: 12px !important;
        .gm-style-iw-chr{
            display: none;
        }
        .gm-style-iw-d{

        }
    }
}