.poi-details{
    
    height: 100%;
    overflow-y: auto;

    .img-container{
        margin: 20px;
        border: solid 2px $dark;
        border-radius: 15px;
        position: relative;

        img{
            padding: 3px;
            border-radius: 15px;
        }
        .distance-info{
            border: solid 2px $dark;
            border-radius: 15px;
            background-color: $yellow-dark;

            padding: 5px 7px;
            position: absolute;
            bottom: 8px;
            left: 16px;

            color: $dark;

            .distance-info-div{
                display: flex;
                flex-flow: row nowrap;

                .distance-info-val{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    span{
                        font-size: $font-xs;
                    }
                }
                .distance-info-nav{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                }
            }
            

            i{
                margin: 0 5px 0 5px;
                
            }
        }
        
        .noImg{
            bottom: -23px;
        }
        
        .indications-info{
            border: solid 2px $dark;
            border-radius: 15px;
            background-color: $yellow-dark;

            padding: 5px 7px;
            position: absolute;
            top: 8px;
            right: 16px;

            text-decoration: none;

            a{
                color: $dark;
            }
        }
    }
    .info-container{
        margin: 20px;

        .priest-container{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            
            padding: 20px 0;

            border-bottom: solid 1px $dark;
            
            i{
                font-size: $font-lg;
                color: $yellow-dark;
            }

            .priest-name-container{
                margin: 0 10px;
            }
            .label-1{
                font-size: $font-sm;
                color:$gray
            }
        }

        .contact-container{
            padding: 10px 0;
            
            i{
                flex: 0 0 5%; 
                color: $gray;
            }

            .info1-icon-info{
                padding: 8px 0;
                display: flex;
                flex-flow: row nowrap;

                .info1-icon-info-container{
                    padding: 0 10px;
                    max-width: 100%;
                    word-wrap: break-word;

                    a{
                        color: $dark;
                    }
                }
            }
        }

        .schedule-container{
            background-color: lightblue;
            
            border: solid 2px #1f1f1f;
            border-radius: 15px;
            position: relative;
            padding: 10px;
            margin: 10px 0;
            
            font-size: $font-sm;

            .scheduleValue{
                margin: 10px 0 0;
                
            }
            .division-container{
                display: inline-block;
                width: 100%;

                .division{
                    border-bottom: dashed 1px $dark;
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                }
            }
            

            /* The actual timeline (the vertical ruler) */
            .timeline {
                position: relative;
                margin: 10px 0;

                .desc{
                    position: absolute;
                    left: 15px;
                    width: 30%;
                    font-size: $font-md;
                }
            }
            /* The actual timeline (the vertical ruler) */
            .timeline::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 40%;
                width: 2px;
                margin-left: -3px;
                background-color: rgb(65, 4, 4);
            }
            
            /* Container around content */
            .container {
                padding: 1px 20px;
                position: relative;
                background-color: inherit;
                width: 60%;
            }
            
            /* The circles on the timeline */
            .container::after {
                content: '';
                position: absolute;
                top: 2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                z-index: 1;
                background-color: white;
                border: 4px solid $yellow-dark;
            }
            
            /* Fix the circle for containers on the right side */
            .right::after {
                left: -11px;
            }
            
            /* Place the container to the right */
            .right {
                left: 40%;
            }
            
            /* Add arrows to the right container (pointing left) */
            .right::before {
                content: " ";
                position: absolute;
                top: 1px;
                left: 13px;
                width: 0;
                height: 0;
                z-index: 1;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }
            
            /* The actual content */
            .content {
                padding: 3px 10px;
                background-color: white;
                position: relative;
                border-radius: 6px;
            }
  
        }
    }
}