.point-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;  // Evita que la imagen interfiera con el mapa
    
    img{
        width: 100px;
        height: 100px;
    }
}