.tab-container {
    background-color: $color-secondary;
    border: solid 1px $dark;
    border-radius: 10px;
    padding: 2px;

    display: flex;
    justify-content: center;

    /* Hide the radio inputs */
    input[type="radio"] {
        display: none;
    }

    /* Style the labels (tabs) */
    label {
        background: $color-secondary;
        color: $color-text-primary;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.2rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    /* Only change the label styling when the radio input is checked */
    input[type="radio"]:checked + label {
        background: $color-primary;
        color: $bright;
    }

    /* Ensure that the correct label is styled when the input is checked */
    input[type="radio"]:checked + label + input[type="radio"] + label {
        background: $color-secondary;
        color: $color-text-primary;
    }

    /* Style the first label as active by default */
    input[type="radio"]:first-child:checked + label {
        background: $color-primary;
        color: $bright;
    }
}

